module.exports = '
<div  id="first-page" >
    <div class="row"></div>

    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="nrai-id-field" length="13">
            <label for="nrai-id-field"> Enter Your Nrai ID card</label>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn pink"
               v-on="click : pageOneNraiID"
                    ><i class="material-icons right">send</i>Continue</a>
        </div>

    </div>
    <div class="row">
        <div class="col s12">For Mavlankar Shooters</div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="competitor-id-field">
            <label for="competitor-id-field">Enter Your Mavlankar competitor ID</label>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn pink"><i class="material-icons right">send</i>Continue</a>
        </div>
    </div>
</div>'